<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.nwafu.connect</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/nwafu-connect</string>
		<string>-config</string>
		<string>/usr/local/etc/nwafu-connect/config.toml</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/var/log/nwafu-connect.log</string>
	<key>StandardErrorPath</key>
	<string>/var/log/nwafu-connect.err.log</string>
</dict>
</plist>
